.section-hero{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}

.container-hero-infos{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #ffffffe0;
}

h1{
  font-family: "Share Tech", sans-serif;
  font-size: 7rem;
} 

.container-hero-infos h3{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #9037e9;
}

.container-hero-infos span{
  font-size: 1.3rem;
  font-weight: 400;
}

.container-hero-infos p{
  font-size: 1.2rem;
  font-weight: 200;
  margin: 3rem 0;
  
}

.container-hero-btn{
  margin-top: 3rem;
}

.container-hero-image{
  width: 45%;
  height: 450px;
  padding: 5px;
  position: relative;
  background: linear-gradient(135deg, #a251f3, #6126bb);
  border-radius: 50px;
  transition: 0.3s ease-in;
}

.container-hero-image:hover {
  box-shadow: 10px 10px 40px #3f1977;
}

.container-hero-image img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -60%);
  width: 85%;
}

.container-hero-btn{
  display: flex;
  gap: 2rem;
}

.btn-hero{
  color: #ffffffd7;
  background: linear-gradient(180deg, #a251f3, #6126bb);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-hero:hover{
  box-shadow: 0px 0px 40px #3f1977;
}