@media screen and (max-width: 940px){
    .section-hero{
        padding: 2.5rem 2rem;
        flex-direction: column;
        justify-content: center;
        padding-top: 150px;
        gap: 2rem;
    }

    .container-hero-infos{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #ffffffe0;
    }

    h1{
        font-size: 2rem;
    } 

    .container-hero-infos h3{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .container-hero-infos span{
        font-size: 1rem;
    }

    .container-hero-infos p{
        font-size: 0.9rem;
        font-weight: 200;
        margin: 2rem 0;
    }

    .container-hero-btn{
        margin-top: 1rem;
    }

    .container-hero-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        padding: 0;
        border-radius: 40px;
    }

    .image-front {
        position: relative;
        top: 0;
        left: 0;

        width: 85%;
        height: 85%;
        border-radius: 20px;
        
    }

    .image-back{
        display: none;
    }
    
}