.section-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background-color: #0A0410;
    color: #ffffffd7;
}

.container-section-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 80%;
    border-bottom: 1px solid #ffffffad;
    padding-bottom: 1.5rem;
    margin-bottom: 20px;
}

.container-section-footer h2{
    font-size: 2.5rem;
}

.container-section-footer p{
    font-size: 1.2rem;
    color: #a251f3;
    font-weight: 300;
}

.container-footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-footer-icons svg{
    width: 50px;
    cursor: pointer;
    color: #ffffffd7;
    transition: 0.4s ease-in;
    border-radius: 15px;
}

.container-section-footer svg:hover{
    color: #a251f3;
    box-shadow: 0 0 15px #a251f3;
}