.eletric{
    width: 25%;
    height: 550px;
    padding: 0;
    margin: 0;
}

.conatiner-card-service{
    width: 100%;
    height: 550px;
    background-color: #150623;
    display: flex;
    flex-direction: column;
    color: #000000e0;
    cursor: pointer;
    border-radius: 2rem;
    gap: 1rem;
    transition: 0.4s ease-in;
}

.conatiner-card-service:hover{
    box-shadow: 0 0 40px #a251f3;
}

.section-card-service-info{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}

.section-card-service-info h3{
    color: #F9F9FA;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-card-service-info p{
    color: #8c7f97;
    line-height: 22px;
}

.eletric img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

@media screen and (max-width: 940px){
    .eletric{
        width: 98%;
        height:430px;
    }

    .conatiner-card-service{
        width: 100%;
        height: 430px;
        cursor: pointer;
        border-radius: 2rem;
    }

    .section-card-service-info{
        padding: 0 10px;
    }

    .section-card-service-info h3{
        font-size: 1rem;
    }

    .section-card-service-info p{
        font-size: 0.8rem;
    }

    .eletric img{
        width: 100%;
        height: 60%;
        object-fit: cover;
        object-position: top;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }


}


 