.conatiner-card-service{
    width: 25%;
    height: 550px;
    background: linear-gradient(#3c1264, #150623);
    display: flex;
    flex-direction: column;
    color: #000000e0;
    cursor: pointer;
    border-radius: 2rem;
    gap: 1rem;
    transition: 0.4s ease-in;
    padding: 10px;
}

.conatiner-card-service img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.conatiner-card-service:hover{
    box-shadow: 0 0 40px #a251f3;
}

.section-card-service-info{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.section-card-service-info h3{
    color: #F9F9FA;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-card-service-info p{
    color: #a899b6;
    line-height: 22px;
    font-weight: 400;
}

@media screen and (max-width: 940px){
    .conatiner-card-service{
        width: 100%;
        height: auto;
        cursor: pointer;
        border-radius: 2rem;
    }

    .section-card-service-info{
        padding: 0 10px;
    }

    .section-card-service-info h3{
        font-size: 1.2rem;
    }

    .section-card-service-info p{
        font-size: 0.9rem;
        font-weight: 500;
    }

    .conatiner-card-service img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0 0;
    }
}


 