@media screen and (max-width: 940px){
    header{
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid #ffffffad;
        
    }
    
    .container-header{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .sessao-nome-header img{
        cursor: pointer;
        width: 80px;
       
    }

    .menuHamburguer{
        margin: 5px 0;
        width: 50px;
        cursor: pointer;
        display: block;
    }

    .sessao-nome-header{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

     .menuHamburguer {
        width: 40px;
        background: linear-gradient(135deg, #a251f3, #6126bb);
        border-radius: 20%;
        cursor: pointer;
        transition: transform 0.4s ease;
    }


    .menuHamburguer.rotated {
        transform: rotate(90deg);
    }

    .sessao-nome-header h2{
        font-size: 1rem;
    }

    .menu-mobile{
        display: none;
        
    }

    .empty-div{
        display: none;
    }

    .menu-mobile.ativo {
        display: flex;
        
    }

    .lista-opcoes{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .sessao-botao{
        display: none;
    }
}