header{
    position: fixed;
    color: #ffffffd7;
    padding: 0;
    width: 100%;
    background: linear-gradient(to top, #31145e, #5c26ad);
    z-index: 4;
}

header h2{
    color: #ffffffd7;
    font-weight: 300;
}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
}

.menuHamburguer{
    display: none;
}

.empty-div{
    width: 100px;
    height: 40px;
}

.sessao-nome-header{
    cursor: pointer;
    
}

.sessao-nome-header img{
    cursor: pointer;
    width: 120px;
}

.sessao-nome-header p{
    font-size: 0.8rem;

}

.lista-opcoes{
    display: flex;
    gap: 3rem;
    cursor: pointer;
}

.lista-opcoes li{
    transition: 0.5s;
    list-style: none;
    font-weight: 400;
    letter-spacing: 2px;
}

.lista-opcoes li:hover{
    color: #be7dff;
    transform: scale(1.2);
}

.sessao-opcoes p{
    font-size: 1.2rem;
}