*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif; 
}

section{
  display: flex;
  padding: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

